@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Get employees</h3>
    <label for="regionId">Enter region id:</label>
    <input id="regionId" type="text" />
    <button onclick="findEmployees()">Find</button>
</div>
<div>
    <ul id="emplyeesList"></ul>
</div>

<script>
    function findEmployees() {
        $('#emplyeesList').html('');

        $.get('/api/region/' + $('#regionId').val() + '/employees', function (data) {
            var list = data.map(i => '<li>' + i.Name + ' ' + i.Surname + '</li>');
            $('#emplyeesList').html(list.join(''));
        });
    }
</script>
