@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Get employees</h3>
    <label for="regionId">Enter region id:</label>
    <input id="regionId" type="text" />
    <button onclick="findEmployees()">Find</button>
</div>
<div>
    <ul id="emplyeesList"></ul>
</div>

@section scripts{ 
    <script src="~/Scripts/site.js"></script>
}
